@model E_Library.Models.Users

@{
    ViewBag.Title = "signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>signup</h2>

<style>
    body {
        background-image: url(/Images/createuser.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 50px;
    }
</style>
<div dir="rtl" style="background-color:rgba(255, 255, 255, 0.49);padding:30px">
    <h2>إنشاء حساب</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal" dir="rtl">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.User_Name, htmlAttributes: new { @class = "control-label col-md-2" })

        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })

        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
<lable class="label-danger">@ViewBag.DuplicateMessage</lable>            </div>
        </div>
    </div>
         

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="موافق" class="btn btn-default" />
                </div>
            </div>
       
    }

</div>
