@model E_Library.Models.Book

@{
    ViewBag.Title = "Edit";
}


<style>
    body {
        background-image: url(/Images/editBook.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top:75px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" dir="rtl" style="width:90%;padding-right:50px;padding-top:25px;padding-bottom:20px;margin-left:75px;background-color:rgba(255, 255, 255, 0.46)">
   
    <h2 style="text-align:center">تعديل</h2>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Book_Id)

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Book_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Name, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Book_Name, htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Book_Author, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Author, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Book_Author, htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Publish_Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Publish_Date, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Publish_Date, htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownList("Dep_Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Dep_Id, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Department.Dep_name, "نوع الكتاب", htmlAttributes: new { @class = "control-label col-md-2" })
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Book_link, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_link, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Book_link, htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Book_Pic, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Book_Pic, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Book_Pic, htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group">
        <div style="text-align:center" class="col-md-offset-2 col-md-10">
            <input type="submit" style="background-color:black" value="حفظ التعديلات" class="btn btn-primary" /> | @Html.ActionLink("عودة إلى القائمة", "AdminView")

        </div>
    </div>
   
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
