<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="float:right;background-color:#337ab7">
        <div class="container">
            <div class="navbar-header" style="float:right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("index","Home")">
                    <img src="~/Images/logo.png" class="img-center" height="50" width="66" />
                </a>
            </div>
            <div class="navbar-collapse collapse" style="float:right">
                <ul class="nav navbar-nav">



                    <li>
                        <a href="@Url.Action("Contact","Home")">
                            تواصل معنا
                            <span class="glyphicon glyphicon-phone">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            الصفحة الرئيسية                            <span class="glyphicon glyphicon-home">
                            </span>
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
